* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
  background-color: darkslategray;
}

button, input[type="text"] {
  padding: 5px;
  background-color: floralwhite;
  border-radius:  8px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
  
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
  background-color: rgb(83, 83, 83);
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
  
}

.shopping-item__checked {
  text-decoration: line-through;
}